* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #39C;
}

@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro-Regular.otf);
}

.hidden {
    display: none;
}


/*HEADER*/

.header {
    box-sizing: border-box;
    height: 138px;
    background-color: #39C;
}

.header .user-panel {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 80px;
    right: -30px;
    top: 18px;
    width: 180px;
}

.container {
    width: 835px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.header-inner {
    height: inherit;
}

.logo {
    position: absolute;
    top: 17px;
    left: 0;
}

.title {
    padding-top: 17px;
}

ul.custom-nav {
    list-style-type: none;
    position: absolute;
    bottom: 0;
    left: 225px;
}

ul.custom-nav li {
    display: inline-block;
    height: 55px;
    /*width: 163px;*/
    /*box-sizing: border-box;*/
    vertical-align: bottom;
    padding: 10px 0;
    transition: all 0.2s;
}

ul.custom-nav li:hover {
    border-bottom: 6px solid #db4337;
    cursor: pointer;
}

ul.custom-nav li .director {
    font-size: 27.5px;
    font-family: 'MyriadPro';
    text-decoration: none;
    color: #ffffff;
    line-height: 79px;
    padding: 0 10px;
}


/*BODY*/

.body {
    background-color: #fff;
    min-height: 200px;
}

.body-inner {
    padding: 20px 0;
    text-align: center;
}

ul.card-list {
    list-style-type: none;
    padding: 10px 0;
}

ul.card-list li {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
}

.card-container {
    position: relative;
}

.card {
    width: 267px;
    height: 363px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px 0 #5f5e5e;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    position: relative;
}

.card:hover .card-panel {
    top: 63px;
}

.card .top-menu {
    height: 63px;
    position: relative;
}

.price-maker-bottom {
    position: absolute;
    left: -10px;
    top: 15px;
}

.price {
    width: 92px;
    height: 33px;
    background-color: #db4337;
    font-size: 20.12px;
    font-family: 'MyriadPro';
    text-align: center;
    color: #ffffff;
    line-height: 33px;
    position: absolute;
    left: -10px;
    top: 15px;
    box-shadow: 0 0 10px 0 #5f5e5e;
}

a.button {
    display: inline-block;
}

.top-menu .info-button {
    position: absolute;
    top: 15px;
    right: 10px;
}

.card .preview {
    height: 157px;
}

.card .description {
    text-align: left;
    padding: 5px 15px;
    font-size: 13.68px;
    color: #807b7b;
    font-family: 'MyriadPro';
}

.card .card-panel {
    width: inherit;
    height: 300px;
    position: absolute;
    top: 278px;
    left: 0;
    background-color: #db4337;
    transition: all 0.2s;
}

a.bid-btn {
    width: 53px;
    height: 53px;
    border-radius: 100%;
    background-color: #4bb549;
    background-image: url("../images/btn-harmer.png");
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 0 #5f5e5e;
    position: relative;
    top: -32px;
}

.card-panel .item-name {
    color: #ffffff;
    font-size: 18.51px;
    font-family: 'MyriadPro';
    margin-top: -20px;
    padding-bottom: 20px;
}

table.timing {
    width: 100%;
}

table.timing td {
    font-family: MyriadPro;
    color: #ffffff;
    font-size: 15.29px;
}

table.timing .start-date {
    border-bottom: 1px solid #ffffff;
    text-align: center;
}

table.timing .end-date {
    border-bottom: 1px solid #ffffff;
    text-align: center;
}

table.timing .start-time {
    font-size: 30px;
    text-align: center;
}

table.timing .end-time {
    font-size: 30px;
    text-align: center;
}

.card-panel .price-box {
    width: 232px;
    height: 96px;
    margin: 0 auto;
    background-color: #4bb549;
    border-radius: 100px;
    box-shadow: inset 0 0 10px 0 #000;
}

.card-panel .price-box .input-price {
    width: 232px;
    height: 96px;
    margin: 0 auto;
    background-color: #4bb549;
    font-family: MyriadPro;
    color: #ffffff;
    font-size: 55px;
    line-height: 96px;
    border-radius: 100px;
    border: none;
    text-align: center;
    box-shadow: inset 0 0 10px 0 #000;
}

.card-panel .price-box .input-price:focus {
    outline: none;
    border: none;
}

.card-panel .bid-user {
    color: #ffffff;
    font-family: MyriadPro;
    font-size: 16.9px;
    text-align: center;
    padding: 5px 0;
}

.footer {
    background-color: #39C;
    height: 55px;
}

ul.links {
    list-style-type: none;
    float: left;
    padding-top: 7px;
}

ul.links li {
    display: inline-block;
    vertical-align: bottom;
}

.copyright {
    color: #ffffff;
    font-family: MyriadPro;
    font-size: 18.51px;
    float: right;
    margin-top: 15px;
}

/*Forms*/
button{
  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

button:hover{
  background:#2288bb;
}

.custom-form {
  width:600px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

.custom-form h1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

.custom-form form{
  background:#f0f0f0;
  padding:6% 4%;
}

.custom-form input:not([type="submit"]),textarea{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:2%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

.custom-form input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:3%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.custom-form input[type="submit"]:hover{
  background:#2288bb;
}