<html ng-app="dkmhApp">

<head>
    <title>DKMH - The Best Online Auction Site !</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DKMHBid - The Best Online Auction Site !">
    <meta name="author" content="DKMHGroup">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="css/loading.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <!-- SCRIPTS -->
    <!-- Libraries -->
    <script type="text/javascript" src="libs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="libs/moment.min.js"></script>
    <script type="text/javascript" src="libs/humanize-duration.js"></script>
    <script type="text/javascript" src="libs/firebase.js"></script>
    <script type="text/javascript" src="libs/angular.min.js"></script>
    <script type="text/javascript" src="libs/angular-route.min.js"></script>
    <script type="text/javascript" src="libs/angularfire.min.js"></script>
    <script type="text/javascript" src="libs/angular-timer.min.js"></script>
    <script type="text/javascript" src="libs/sweetalert.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript" src="js/dom.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="DKMHAppController">
    <section class="header">
        <div class="container header-inner">
            <img class="logo" src="images/logo.png">
            <img class="title" src="images/title.png">
            <div class="user-panel">
                <div ng-if="!currentUser">
                    <h4>Not signed-in!</h4>
                    <ul>
                        <li><a href="/sign-in">Sign In</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                </div>
                <div ng-if="currentUser">
                    <p>Welcome, <b>{{currentUser.email}}</b>!</p>
                    Your Balance: <b>${{currentUser.balance}}<b>
                    <a href="/my-items">Items</a>
                    <a href="/deposit">Top-up</a>
                    <a href="#" ng-click="doSignOut()">Sign Out</a>
                </div>
            </div>
            <ul class="custom-nav">
                <li><a href="/" class="director">ACTIVE BIDS</a></li>
                <li><a href="/test" class="director">SOLD</a></li>
                <li><a href="#" class="director">EXPLORE</a></li>
            </ul>
        </div>
    </section>
    <section class="body">
        <div class="body-inner">
            <div ng-show="successMsg">
                <strong>Success! </strong> {{successMsg}}
            </div>
            <div ng-show="errorMsg">
                <strong>Error! </strong> {{errorMsg}}
            </div>
            <div class="ng-view">
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <ul class="links">
                <li>
                    <a href="#" class="button"><img src="images/icon-g+.png"></a>
                </li>
                <li>
                    <a href="#" class="button"><img src="images/icon-tweeter.png"></a>
                </li>
                <li>
                    <a href="#" class="button"><img src="images/icon-facebook.png"></a>
                </li>
            </ul>
            <div class="copyright">
                COPYRIGHT &copy; DKMH 2015
            </div>
        </div>
    </section>
</body>

</html>
