<div class="row" ng-controller="DepositController">
    <div class="col-md-12 col-lg-12 col-xs-12">
        <h1>Deposit</h1>
        <hr/>
        <table>
            <form>
                <div class="form-group">
                    <label for="deposit-amount">Enter deposit amount:</label>
                    <input required type="number" class="form-control" id="deposit-amount" placeholder="Deposit amount" ng-model="depositAmount">
                </div>
            </form>
            <button class="btn btn-primary" ng-click="updateDeposit(depositAmount)">Submit</button>
        </table>
    </div>
</div>