<div class="row" ng-controller="MainController">
    <div class="col-md-3">
        <p class="lead">Live Auctions</p>
        <div class="list-group">
            <a href="#" class="list-group-item active">All Auctions</a>
            <a href="#" class="list-group-item">Electronics</a>
            <a href="#" class="list-group-item">Home & Garden</a>
            <a href="#" class="list-group-item">Jewelry & Fashion</a>
            <a href="#" class="list-group-item">Sports & Recreation</a>
            <a href="#" class="list-group-item">Specialty Shops</a>
            <a href="#" class="list-group-item">Gift Cards</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row carousel-holder">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="http://placehold.it/800x300" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- LIST OF ITEMS -->
            <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="item in allItems">
                <div class="thumbnail">
                    <img ng-src="{{item.image}}" alt="">
                    <div class="caption">
                        <h4 class="pull-right">${{item.currentPrice}}</h4>
                        <h4><a href="#">{{item.name}}</a>
                        </h4>
                        <p class="bid-last-user pull-right">{{item.currentBuyerEmail}}</p>
                        <h4 class="bid-time">{{item.expiredDate | timeLeft}}</h4>
                        <button class="bid-btn btn btn-primary">Bid Now</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.row -->