<!-- <div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="item in allItems" data-itemid="{{item.$id}}">
        <div class="thumbnail">
            <img ng-src="{{item.image}}" alt="">
            <div class="caption text-center">
                <h4 class="pull-right">${{item.currentPrice}}</h4>
                <h4><a href="#">{{item.name}}</a>
                        </h4>
                <p class="bid-last-user pull-right">{{item.currentBuyerEmail | semanticValue}}</p>
                <h4 class="bid-time">{{item.expiredDate | timeLeft}}</h4>
                <input type="number" class="bid-value-input form-control" ng-model="item.newPrice" />
                <a class="bid-submit-btn btn btn-primary" ng-click="setCurrentItem(item.$id, item.name, item.newPrice, item.currentPrice)">Bid Now</a>
            </div>
        </div>
    </div>
</div> -->
<div ng-controller="MainController">
    <div class="loading-container" ng-hide="allItems.length > 0">
        <br>
        <br>
        <br>
        <br>
        <div class="cssload-loader">
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
            <div class="cssload-side"></div>
        </div>
    </div>
    <ul class="card-list" ng-show="allItems.length > 0">
        <li ng-repeat="item in allItems" data-itemid="{{item.$id}}">
            <div class="card-container">
                <img src="images/price-marker.png" class="price-maker-bottom">
                <div class="card">
                    <div class="top-menu">
                        <a class="button info-button" href="#">
                            <img src="images/btn-info.png" title="Production details">
                        </a>
                    </div>
                    <img class="preview" ng-src="{{item.image}}">
                    <div class="description hidden">
                        {{item.description}}
                    </div>
                    <div class="card-panel">
                        <a class="button bid-btn" title="Bid now" ng-click="setCurrentItem(item.$id, item.name, item.newPrice, item.currentPrice)"></a>
                        <div class="item-name">
                            <b>{{item.name | uppercase}}</b>
                            <br>
                            End: {{item.expiredDate | timeLeft}}
                        </div>
                        <table class="timing">
                            <tr>
                                <td class="start-date">Oct 12, 2015</td>
                                <td rowspan="2"><img src="images/icon-clock.png"></td>
                                <td class="end-date">{{item.expiredDate | dateOnly}}</td>
                            </tr>
                            <tr>
                                <td class="start-time">01h53</td>
                                <td class="end-time">{{item.expiredDate | timeOnly}}</td>
                            </tr>
                        </table>
                        <div class="price-box">
                            <input type="text" min="{{item.currentPrice}}" class="input-price" placeholder="value">
                        </div>
                        <div class="bid-user">
                            {{item.currentBuyerEmail | semanticValue}}
                        </div>
                    </div>
                </div>
                <div class="price">
                    ${{item.currentPrice}}
                </div>
            </div>
        </li>
    </ul>
</div>
