<div class="row" ng-controller="MyItemsController">
    <div class="col-md-12 col-lg-12 col-xs-12">
        <h1>My Items</h1>
        <hr/>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Expired Date</th>
                    <th>Starting Price</th>
                    <th>Current Price</th>
                    <th>Status</th>
                    <th>BuyerEmail</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in myItems" data-myitemid="{{item.$id}}">
                    <td>{{ $index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description | semanticValue}}</td>
                    <td>
                        <img ng-src="{{item.image}}" class="my-item-image"/>
                    </td>
                    <td>{{item.expiredDate | readableDate}}</td>
                    <td>{{item.startingPrice}}</td>
                    <td>{{item.currentPrice}}</td>
                    <td>{{item.status | semanticValue}}</td>
                    <td>{{item.currentBuyerEmail | semanticValue}}</td>
                    <td>
                        <button>
                            Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>